## Exoplanets preprocessing

In [120]:
# imports and stuff
import warnings

warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [121]:
# read in the data
nasa = pd.read_csv(
    "../data/nasa_2025_02.csv",
    comment='#'
)

display(nasa.head(20))
display(nasa.columns.values)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,2014-05-14,2008-01,2014-05-14,2.0,1.0,2.0,0.0,0.0,0.0,0.0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,2014-07-23,2011-08,2014-07-23,2.0,1.0,2.0,0.0,0.0,0.0,0.0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2023-08,2023-09-19,2.0,1.0,2.0,0.0,0.0,0.0,0.0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,2018-09-04,2017-03,2018-09-06,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,2018-04-25,2009-10,2014-05-14,0.0,1.0,1.0,0.0,0.0,0.0,0.0
5,6,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,2018-04-25,2011-08,2014-07-23,0.0,1.0,1.0,0.0,0.0,0.0,0.0
6,7,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,0,1,...,2014-05-14,2008-12,2014-05-14,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,1,1,...,2023-09-19,2023-08,2023-09-19,0.0,1.0,1.0,0.0,0.0,0.0,0.0
8,9,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,0,1,...,2014-07-23,2011-08,2014-07-23,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2018-09-04,2017-03,2018-09-06,0.0,1.0,4.0,1.0,0.0,0.0,0.0
10,11,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2018-04-25,2003-01,2014-08-21,0.0,1.0,4.0,1.0,0.0,0.0,0.0
11,12,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2018-04-25,2004-01,2014-08-21,0.0,1.0,4.0,1.0,0.0,0.0,0.0
12,13,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2018-04-25,2007-01,2014-05-14,0.0,1.0,4.0,1.0,0.0,0.0,0.0
13,14,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2018-04-25,2006-07,2014-08-21,0.0,1.0,4.0,1.0,0.0,0.0,0.0
14,15,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,1,...,2023-06-12,2022-09,2023-06-12,0.0,1.0,4.0,1.0,0.0,0.0,0.0
15,16,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2018-04-25,2008-04,2014-08-21,0.0,1.0,4.0,1.0,0.0,0.0,0.0
16,17,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,2021-09-20,2021-07,2021-09-20,0.0,1.0,4.0,1.0,0.0,0.0,0.0
17,18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,1,3,...,2018-09-04,2017-03,2018-09-06,5.0,1.0,4.0,3.0,0.0,0.0,0.0
18,19,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,0,3,...,2021-09-20,2021-07,2021-09-20,5.0,1.0,4.0,3.0,0.0,0.0,0.0
19,20,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,0,3,...,2018-04-25,2006-07,2015-09-10,5.0,1.0,4.0,3.0,0.0,0.0,0.0

array(['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name',
       'tic_id', 'gaia_id', 'default_flag', 'sy_snum', 'sy_pnum',
       'sy_mnum', 'cb_flag', 'discoverymethod', 'disc_year',
       'disc_refname', 'disc_pubdate', 'disc_locale', 'disc_facility',
       'disc_telescope', 'disc_instrument', 'rv_flag', 'pul_flag',
       'ptv_flag', 'tran_flag', 'ast_flag', 'obm_flag', 'micro_flag',
       'etv_flag', 'ima_flag', 'dkin_flag', 'soltype', 'pl_controv_flag',
       'pl_refname', 'pl_orbper', 'pl_orbpererr1', 'pl_orbpererr2',
       'pl_orbperlim', 'pl_orbsmax', 'pl_orbsmaxerr1', 'pl_orbsmaxerr2',
       'pl_orbsmaxlim', 'pl_rade', 'pl_radeerr1', 'pl_radeerr2',
       'pl_radelim', 'pl_radj', 'pl_radjerr1', 'pl_radjerr2',
       'pl_radjlim', 'pl_masse', 'pl_masseerr1', 'pl_masseerr2',
       'pl_masselim', 'pl_massj', 'pl_massjerr1', 'pl_massjerr2',
       'pl_massjlim', 'pl_msinie', 'pl_msinieerr1', 'pl_msinieerr2',
       'pl_msinielim', 'pl_msinij', 'pl_msinijerr1', 'pl_msinijerr2',
       'pl_msinijlim', 'pl_cmasse', 'pl_cmasseerr1', 'pl_cmasseerr2',
       'pl_cmasselim', 'pl_cmassj', 'pl_cmassjerr1', 'pl_cmassjerr2',
       'pl_cmassjlim', 'pl_bmasse', 'pl_bmasseerr1', 'pl_bmasseerr2',
       'pl_bmasselim', 'pl_bmassj', 'pl_bmassjerr1', 'pl_bmassjerr2',
       'pl_bmassjlim', 'pl_bmassprov', 'pl_dens', 'pl_denserr1',
       'pl_denserr2', 'pl_denslim', 'pl_orbeccen', 'pl_orbeccenerr1',
       'pl_orbeccenerr2', 'pl_orbeccenlim', 'pl_insol', 'pl_insolerr1',
       'pl_insolerr2', 'pl_insollim', 'pl_eqt', 'pl_eqterr1',
       'pl_eqterr2', 'pl_eqtlim', 'pl_orbincl', 'pl_orbinclerr1',
       'pl_orbinclerr2', 'pl_orbincllim', 'pl_tranmid', 'pl_tranmiderr1',
       'pl_tranmiderr2', 'pl_tranmidlim', 'pl_tsystemref', 'ttv_flag',
       'pl_imppar', 'pl_impparerr1', 'pl_impparerr2', 'pl_impparlim',
       'pl_trandep', 'pl_trandeperr1', 'pl_trandeperr2', 'pl_trandeplim',
       'pl_trandur', 'pl_trandurerr1', 'pl_trandurerr2', 'pl_trandurlim',
       'pl_ratdor', 'pl_ratdorerr1', 'pl_ratdorerr2', 'pl_ratdorlim',
       'pl_ratror', 'pl_ratrorerr1', 'pl_ratrorerr2', 'pl_ratrorlim',
       'pl_occdep', 'pl_occdeperr1', 'pl_occdeperr2', 'pl_occdeplim',
       'pl_orbtper', 'pl_orbtpererr1', 'pl_orbtpererr2', 'pl_orbtperlim',
       'pl_orblper', 'pl_orblpererr1', 'pl_orblpererr2', 'pl_orblperlim',
       'pl_rvamp', 'pl_rvamperr1', 'pl_rvamperr2', 'pl_rvamplim',
       'pl_projobliq', 'pl_projobliqerr1', 'pl_projobliqerr2',
       'pl_projobliqlim', 'pl_trueobliq', 'pl_trueobliqerr1',
       'pl_trueobliqerr2', 'pl_trueobliqlim', 'st_refname', 'st_spectype',
       'st_teff', 'st_tefferr1', 'st_tefferr2', 'st_tefflim', 'st_rad',
       'st_raderr1', 'st_raderr2', 'st_radlim', 'st_mass', 'st_masserr1',
       'st_masserr2', 'st_masslim', 'st_met', 'st_meterr1', 'st_meterr2',
       'st_metlim', 'st_metratio', 'st_lum', 'st_lumerr1', 'st_lumerr2',
       'st_lumlim', 'st_logg', 'st_loggerr1', 'st_loggerr2', 'st_logglim',
       'st_age', 'st_ageerr1', 'st_ageerr2', 'st_agelim', 'st_dens',
       'st_denserr1', 'st_denserr2', 'st_denslim', 'st_vsin',
       'st_vsinerr1', 'st_vsinerr2', 'st_vsinlim', 'st_rotp',
       'st_rotperr1', 'st_rotperr2', 'st_rotplim', 'st_radv',
       'st_radverr1', 'st_radverr2', 'st_radvlim', 'sy_refname', 'rastr',
       'ra', 'decstr', 'dec', 'glat', 'glon', 'elat', 'elon', 'sy_pm',
       'sy_pmerr1', 'sy_pmerr2', 'sy_pmra', 'sy_pmraerr1', 'sy_pmraerr2',
       'sy_pmdec', 'sy_pmdecerr1', 'sy_pmdecerr2', 'sy_dist',
       'sy_disterr1', 'sy_disterr2', 'sy_plx', 'sy_plxerr1', 'sy_plxerr2',
       'sy_bmag', 'sy_bmagerr1', 'sy_bmagerr2', 'sy_vmag', 'sy_vmagerr1',
       'sy_vmagerr2', 'sy_jmag', 'sy_jmagerr1', 'sy_jmagerr2', 'sy_hmag',
       'sy_hmagerr1', 'sy_hmagerr2', 'sy_kmag', 'sy_kmagerr1',
       'sy_kmagerr2', 'sy_umag', 'sy_umagerr1', 'sy_umagerr2', 'sy_gmag',
       'sy_gmagerr1', 'sy_gmagerr2', 'sy_rmag', 'sy_rmagerr1',
       'sy_rmagerr2', 'sy_imag', 'sy_imagerr1', 'sy_imagerr2', 'sy_zmag',
       'sy_zmagerr1', 'sy_zmagerr2', 'sy_w1mag', 'sy_w1magerr1',
       'sy_w1magerr2', 'sy_w2mag', 'sy_w2magerr1', 'sy_w2magerr2',
       'sy_w3mag', 'sy_w3magerr1', 'sy_w3magerr2', 'sy_w4mag',
       'sy_w4magerr1', 'sy_w4magerr2', 'sy_gaiamag', 'sy_gaiamagerr1',
       'sy_gaiamagerr2', 'sy_icmag', 'sy_icmagerr1', 'sy_icmagerr2',
       'sy_tmag', 'sy_tmagerr1', 'sy_tmagerr2', 'sy_kepmag',
       'sy_kepmagerr1', 'sy_kepmagerr2', 'rowupdate', 'pl_pubdate',
       'releasedate', 'pl_nnotes', 'st_nphot', 'st_nrvc', 'st_nspec',
       'pl_nespec', 'pl_ntranspec', 'pl_ndispec'], dtype=object)

### Removing controversial planets

In [122]:
print(nasa.shape)
nasa = nasa[nasa['pl_controv_flag'] != 1]
print(nasa.shape)

(38095, 288)
(38020, 288)

## Merging Observations of the same planet into one planet
For now, if there are different values in rows to be merged we will just take their average.\
We could also debate on rather taking the median, doing a majority vote or something similar

In [123]:
print("Amount of distinct planets: ", len(pd.unique(nasa['pl_name'])))

Amount of distinct planets:  5803

Remove unwanted columns

In [124]:
print(nasa.columns)

# nasa = nasa.filter(like="pl_") # another idea of how it could be done...

relevant_columns = [
    # Planet identification
    'pl_name', 'hostname',

    # Planetary parameters
    'pl_orbper',  # Orbital period (days)
    'pl_orbsmax',  # Semi-major axis (AU)
    'pl_orbeccen',  # Orbital eccentricity
    'pl_rade',  # Planet radius (Earth radii)
    'pl_bmasse',  # Planet mass (Earth masses, best estimate)
    'pl_masse',  # Planet mass (Earth masses)
    'pl_dens',  # Planet density (g/cm³)
    'pl_insol',  # Insolation flux relative to Earth
    'pl_eqt',  # Planet equilibrium temperature (K)
    'pl_orbincl',  # Orbital inclination (degrees)

    # Host star parameters
    'st_teff',  # Star effective temperature (K)
    'st_rad',  # Star radius (Solar radii)
    'st_mass',  # Star mass (Solar masses)
    'st_lum',  # Star luminosity (Solar luminosities)
    'st_met',  # Star metallicity ([Fe/H])
    'st_logg',  # Star surface gravity (cm/s²)

    # Additional useful data
    'sy_dist',  # Distance from Earth (parsecs)
    'discoverymethod',  # Method of discovery
    'disc_year',  # Year of discovery

    # Only for the aggregation
    "pl_pubdate"
]


nasa = nasa[relevant_columns]
print(nasa.columns)

Index(['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name',
       'tic_id', 'gaia_id', 'default_flag', 'sy_snum',
       ...
       'rowupdate', 'pl_pubdate', 'releasedate', 'pl_nnotes', 'st_nphot',
       'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec', 'pl_ndispec'],
      dtype='object', length=288)
Index(['pl_name', 'hostname', 'pl_orbper', 'pl_orbsmax', 'pl_orbeccen',
       'pl_rade', 'pl_bmasse', 'pl_masse', 'pl_dens', 'pl_insol', 'pl_eqt',
       'pl_orbincl', 'st_teff', 'st_rad', 'st_mass', 'st_lum', 'st_met',
       'st_logg', 'sy_dist', 'discoverymethod', 'disc_year', 'pl_pubdate'],
      dtype='object')

## Aggregation
We use the "pl_pupdate" column, which states when a specific observation was updated the last time, to determine the newest values for a planet.
Then we always pick the newest available value for all columns when aggregating all observations into planets

In [125]:
# Here we can simply list how aggregating should be done for each column
nasa = nasa.sort_values(by=["pl_name", "pl_pubdate"], ascending=[True, False])

def aggregate_observations(col):
    col = col.dropna()

    return col.iloc[0] if not col.empty else None


nasa = nasa.groupby('pl_name').agg(aggregate_observations).reset_index().drop(columns=['pl_pubdate'])
display(nasa)

,pl_name,hostname,pl_orbper,pl_orbsmax,pl_orbeccen,pl_rade,pl_bmasse,pl_masse,pl_dens,pl_insol,...,pl_orbincl,st_teff,st_rad,st_mass,st_lum,st_met,st_logg,sy_dist,discoverymethod,disc_year
0,11 Com b,11 Com,323.210000,1.17800,0.2380,NaN,4914.89849,NaN,NaN,NaN,...,NaN,4874.00,13.76,2.09,1.978,-0.260,2.45,93.1846,Radial Velocity,2007
1,11 UMi b,11 UMi,516.219970,1.53000,0.0800,NaN,4684.81420,NaN,NaN,NaN,...,NaN,4213.00,29.79,2.78,NaN,-0.020,1.93,125.3210,Radial Velocity,2009
2,14 And b,14 And,186.760000,0.77500,0.0000,NaN,1131.15130,NaN,NaN,NaN,...,NaN,4888.00,11.55,1.78,1.840,-0.210,2.55,75.4392,Radial Velocity,2008
3,14 Her b,14 Her,1765.038900,2.77400,0.3730,NaN,2559.47216,2559.47216,NaN,NaN,...,144.652,5314.94,1.00,0.91,-0.153,0.405,4.43,17.9323,Radial Velocity,2002
4,16 Cyg B b,16 Cyg B,799.450000,1.67600,0.6832,NaN,556.83537,NaN,NaN,NaN,...,NaN,5711.97,1.16,0.98,0.097,0.074,4.30,21.1397,Radial Velocity,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5798,ups And b,ups And,4.617122,0.05914,0.0069,NaN,214.53417,NaN,NaN,NaN,...,NaN,6156.77,1.62,1.29,0.525,0.122,4.13,13.4054,Radial Velocity,1996
5799,ups And c,ups And,241.223000,0.82650,0.2660,NaN,624.53282,4443.24113,NaN,NaN,...,NaN,6156.77,1.62,1.29,0.525,0.122,4.13,13.4054,Radial Velocity,1999
5800,ups And d,ups And,1282.410000,2.51700,0.2940,NaN,1303.09647,3257.74117,NaN,NaN,...,NaN,6156.77,1.62,1.29,0.525,0.122,4.13,13.4054,Radial Velocity,1999
5801,ups Leo b,ups Leo,385.200000,1.18000,0.3200,NaN,162.09249,NaN,NaN,NaN,...,NaN,4836.00,11.22,1.48,1.800,-0.200,2.46,52.5973,Radial Velocity,2021
5802,xi Aql b,xi Aql,136.970000,0.62500,0.0590,NaN,616.90494,NaN,NaN,NaN,...,NaN,4841.00,10.86,1.74,1.767,-0.110,2.61,56.1858,Radial Velocity,2007

## Export the processed data

In [126]:
nasa.to_csv('../data/nasa_aggregated.csv', index=False)